* { 
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

figure {
  margin: 0;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-family: 'Montserrat', sans-serif;;
  font-weight: 900;
  font-size: 8rem;
  color: #442e7a;
  text-align: center;
  padding-bottom: 25px;
}

// h1s on all pages EXCEPT homepage

.secondary {
  font-family: 'Montserrat', sans-serif;;
  font-weight: 900;
  font-size: 8rem;
  color: #442e7a;
  text-align: center;
  padding: 0;

}

h2 {
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 4.5rem;
  color: black;
  text-align: center;
}

h3 {
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.2;
}

h4 {
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 2.2em;
  color: #ee3364;
}

p,
.sort-button {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 1.8rem;
}



nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: right;
  padding-top: 35px;
} 

nav li a {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-left: 30px;
  padding-bottom: 5px;
}

nav li a:hover,
nav li a:focus {
  border-bottom: solid 2px #00bec5;
}