.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

// Hamburger menu (mobile) styles 

#toggle {
  display: none;
}

.hamburger-menu {
  position: absolute;
  right:0;
  top: 0;
  padding: 25px;
  max-width: 85px;
  max-height: 85px;
  visibility: hidden;
}


// Home page (index.html) styles

.home-page {
  background-image: url(../assets/portfolio-header-01.png);
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh ;
}

.alien {
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 100px;
}

// Web, writing, and contact sections styles

.web,
.writing-header,
.contact-header {
  background-color: #acacac;
  min-height: 50vh;
  position: relative;
}

.header-element {
  position: absolute;
  width: 150px;
  height: 150px;
  top: -15px;
}

.web .header-text,
.writing-header .header-text, 
.contact-header .header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 35vh ;
}

@media (max-width: 1200px) { 

  // HAMBURGER MENU

  nav {
    position: absolute;
    background-color: #00b5bc;
    color: white;
    display: none;
    z-index: 1;

  }

  .hamburger-menu {
    visibility: visible;
     
  }

  input:checked + nav {
    display: block;
    position: relative;
  }

  input:checked + nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
  }

  input:checked + nav li {
    padding-top: 15px;
  }

  input:checked + nav a {
    border: none;

  }

  input:checked + nav li:hover,
  input:checked + nav li:focus {
    color: black;
    border-bottom: none;

  }

  .hamburger-menu {
    z-index: 2;
  }

  #toggle {
    position: absolute; 
    right: -1000000px;

  }

  //header 

  .web,
  .writing-header,
  .home-page {
    min-height: 0;

  }

  // fun elements

  .alien {
    display: none;
  }

  .header-element {
    display: none;

  }

}


