.about {
  min-height: 85vh;
}

.about-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 0;
}

.about-text {
  max-width: 50%;
}

.about-element {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -55px;
  left: 380px;
  z-index: -10;
}

.laura-face {
  box-shadow: 10px 10px grey;
  position: relative;
}

// home page's colourful boxes styling

.navigation-boxes ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.box-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 35px 25px 35px;
}

.navigation-boxes h3 {
  font-size: 4rem;
  text-transform: lowercase;
  margin-bottom: 25px;
}

.navigation-boxes img {
  width: 50px;

}

.navigation-boxes i {
  font-size: 3rem;
  text-align: right;

}

.front-end-development,
.writing,
.contact {
  color: white;
  width: calc(1280px / 3);
}

.front-end-development {
  background-color: #442e7a;
}

.writing {
  background-color: #00b5bc;
}

.contact {
  background-color: #ee3364;
}

.writing p,
.contact p {
  margin-bottom: 40px;
}

.front-end-development:hover,
.front-end-development:focus,
.writing:hover,
.writing:focus,
.contact:hover,
.contact:focus {
  opacity: 0.8;
}

.front-end-development h3:hover,
.front-end-development h3:focus,
.writing h3:hover,
.writing h3:focus,
.contact h3:hover,
.contact h3:focus,
.front-end-development p:hover,
.front-end-development p:focus,
.writing p:hover,
.writing p:focus,
.contact p:hover,
.contact p:focus {
  color: black;
}

.arrow-icon {
  display: block;
  text-align: right;
  padding: 0 15px 15px 0;
}

.arrow-icon:hover,
.arrow-icon:focus {
  color: black;
}


// web projects page

.project-wrapper {
  display: flex;
  // flex-wrap: wrap;
  align-items: center;
  margin: 45px 0 45px 0;
  
}

.project-img {
  width: 50%;
  margin-right: 50px;
  z-index: 1;
  position: relative;
}

.project-img-mobile {
  max-width: 25%;
  margin-right: 50px;
  z-index: 2;
  position: absolute;
  top: 55px;
  left: 0;

}

.project-img-mobile-dolly {
  max-width: 25%;
  margin-right: 50px;
  z-index: 2;
  position: absolute;
  top: 25px;
  left: -6px;

}

.project-img-mobile-youreads {
  max-width: 25%;
  margin-right: 50px;
  z-index: 2;
  position: absolute;
  top: 25px;
  left: -6px;

}


.project-img:hover,
.project-img:focus {
  opacity: 0.8;
}

.project-text {
  max-width: 50%;
}

.project-text h2 {
  padding-bottom: 25px;
  text-align: left;
}

.project-text p {
  font-size: 2.3rem;
  line-height: 1.6;

}

.project-text img {
  max-width: 40px;
}

.buttons a {
  font-size: 2.3rem;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3364;
  color: white;
  padding: 15px;
  border-radius: 5px;
  margin: 25px 35px 0 0;
}

.buttons a:hover,
.buttons a:focus {
  background-color: #00bec5;
  color: black;

}

.project-text ul {
  display: flex;
  margin: 25px 0 15px 0;
}

.project-text li {
  font-size: 4rem;
  margin-right: 10px;
}

.project-text li:hover,
.project-text li:focus {
  color: #ee3364;

}

// skills container with icons

.skills {
  background-color: #00bec5;
  padding: 85px 0 85px 0;
  color: white;
}

.skills h3 {
  text-align: center;
  font-size: 5rem;
  padding-bottom: 35px;
}

.skills i {
  font-size: 5rem;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills li {
  margin: 20px 55px 0 0;
  // nth child that shit???
}

.skills li:hover,
.skills li:focus {
  color: black;
}

// writing page 

.writing-portfolio h2 {
  font-style: italic;
  padding-top: 45px;

}

.writing-rows ul {
  display: flex;
  flex-wrap: wrap;
  margin: 45px 0 45px 0;
  justify-content: center;
 
}

.writing-rows li {
  margin-right: 25px;
 
}

.writing-item-container {
  width: 400px;
  margin-bottom: 45px;

}

.writing-item-container img {
  margin-bottom: 5px;
}

.writing-item-container img:hover,
.writing-item-container img:focus {
  opacity: 0.8;

}

.writing-item-container h3 {
  margin-bottom: 15px;

}
.writing-item-container h3:hover,
.writing-item-container h3:focus {
  color: #00bec5;

} 

.writing-item-container h4:hover,
.writing-item-container h4:focus {
  color: black; 
}
 
.writing-item-container p {
  font-style: italic;
  margin-bottom: 20px;

}

// contact page

.contact-wrapper {
  min-height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

}

.contact-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  
}

.contact-alien {
 height: 100px;
 width: 100px;
 margin-bottom: 25px;
}

.contact-text h2 {
  text-align: left;
}

.contact-text p {
  font-style: italic;
  margin: 25px 0 25px 0;

}

.contact-text ul {
  display: flex;
  
}

.contact-text li {
  font-size: 3rem;
  color: #ee3364;
}

.contact-text li:nth-child(2) {
  padding: 0 30px 0 30px;
}

.contact-text li:hover,
.contact-text li:focus {
  color: #442e7a;

}

.contact-element {
  position: absolute;
  max-width: 250px;
  max-height: 250px;
  z-index: -10;
  bottom: -85px;
  left: 0;
}

@media (max-width: 940px) { 
  .about-element {
    display: none;

  }

}



